.time-content {
  width: calc(1920px - 1700px);
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.time-content .time-date {
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: bold;
}

.time-content .time-week {
  color: #FFFFFF;
  font-size: 1.2em;
}

.time-content .time-time {
  color: #FFFFFF;
  font-size: 1.8em;
  margin-top: -5px;
  font-weight: bold;
}
