.month-integration-rank-list-back-content {
  width: 225px;
  height: 70px;
  box-sizing: border-box;
  border: 1px solid rgba(255,255,255,.2);
  display: flex;
  flex-direction: row;
}
.month-integration-rank-list-back-content .user-info-logo {
  width: 68px;
  height: 68px;
}
.month-integration-rank-list-back-content .user-info-logo img {
  width: 68px;
  height: 68px;
}
.month-integration-rank-list-back-content .user-info-name-rank {
  width: 135px;
  height: 68px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.month-integration-rank-list-back-content .user-info-name-rank .user-info-name {
  text-align: left;
  color: #FFFFFF;
  width: 135px;
  font-size: 22px;
}
.month-integration-rank-list-back-content .user-info-name-rank .user-info-rank {
  text-align: right;
  color: #FFFFFF;
  width: 135px;
  font-size: 26px;
}
